:root {
  --main-gray: rgb(40, 30, 25);
  --main-transparent-gray: rgb(40, 30, 25, 0.3);
}

.App {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  line-height: 1.5;
  text-align: center;
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(-180deg, rgba(2, 0, 35, 0.6) 0%, rgba(10, 10, 120, 0.6) 35%, rgba(0, 210, 255, .6) 100%);
  display: flex;
  flex-direction: column;
  transition: filter 100ms ease-out 0ms;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 30%;
  border: none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 1px 1px 3px var(--main-transparent-gray);
}

.search-button {
  background: var(--main-gray);
  box-shadow: 1px 1px 3px var(--main-transparent-gray);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  margin: 10px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  line-height: 1.5;
}

input:focus {
  outline: none;
}

.weather {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 10px var(--main-transparent-gray);
  color: var(--main-gray);
  font-size: 18px;
  font-weight: 200;
  text-align: left;
  margin: 20px 40px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.weather-day, .weather-location {
  font-size: 24px;
}

table {
  margin: 30px;
}

h1 {
  font-size: 40px;
}

.weather-location {
  text-align: right;
}

.weather-table1 {
  line-height: 40px;
  border-top: solid var(--main-transparent-gray);
}

.weather-table2 {
  line-height: 40px;
  border-bottom: solid var(--main-transparent-gray);
}

.weather-data {
  text-align: right;
}